// ==========================================================================
// Paragraph bundle: CALL TO ACTION
// ==========================================================================
.node--type-call-to-action {
  &.node--view-mode-teaser {
    max-width: rem(780);
    margin: 0 auto;
    text-align: center;
  }
}
