{% if rows %}
  <div class="reviews swiper">
    <div class="swiper-wrapper">
      {{ rows }}
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
{% endif %}