//------------------------------------------------------------------------------
// NAVIGATION.SCSS
// Navigation styling.
//------------------------------------------------------------------------------

// MAIN MENU
.main-menu {
  .menu__list {
    @include reset-list();
    display: flex;
    justify-content: flex-end;
    gap: $grid-gutter-width;
    align-items: center;

    .menu__item {
      a:not(.btn) {
        text-decoration: none;
        color: $white;
      }

      &.menu__item--active {
        a:not(.btn) {
          position: relative;
          z-index: 10;
          font-weight: bold;

          &:after {
            content: '';
            position: absolute;
            background-color: $secondary;
            left: 50%;
            translate: -50% 0;
            bottom: -.5rem;
            width: 1.5rem;
            height: .2rem;
            z-index: -1;
          }
        }
      }

      &:last-child {
        a {
          @extend .btn;
          @extend .btn--white;
        }
      }
    }
  }

}

// BOTTOM MENU
.bottom-menu {
  .menu__list {
    @include reset-list;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .menu__item {

      a,
      span {
        font-size: rem(16);
        text-decoration: none;
        color: $gray-dark;
      }
    }

    @include mq(s) {
      flex-direction: column;
    }
  }
}
