//------------------------------------------------------------------------------
// NAVIGATION.SCSS
// Navigation styling.
//------------------------------------------------------------------------------

// MAIN MENU
.main-menu {
  .menu__list {
    @include reset-list();
    
    .menu__item {
      a:not(.btn) {
        font-weight: 600;
        text-decoration: none;
      }
    }
  }

  & > .menu__list {
    display: flex;
    align-items: center;
    gap: 3rem;

    & > .menu__item.menu__item--expanded {
      position: relative;
      @include iconize($chevron-down, 'after', $white);

      & > .menu__list {
        position: absolute;
        display: none;
        top: 100%;
        left: 0;
      }

      &:hover {
        & > .menu__list {
          display: inline-block;
        }
      }
    }
  }
}

body:not(.logged-in).has-hero {
  .main-menu {
    .menu__list {
      .menu__item {
        a:not(.btn) {
          color: $white;
        }
      }
    }
  }
}

// BOTTOM MENU
.bottom-menu {
  .menu__list {
    @include reset-list;
    display: flex;
    gap: 1.5rem;
    
    .menu__item {
      a, span {
        font-size: rem(16);
        text-decoration: none;
        color: $gray-dark;
      }
    }
  }
}