{#
/**
 * @file
 * Hero.
 */
#}

{% block paragraph %}
  <section{{ attributes.addClass(classes) }}>
    <div class="hero__images">
      {{ content.field_media }}
    </div>

    <div class="hero__content">
      <div class="container">
        <div class="hero__content-wrapper">
          <div class="hero__content-text">
            <h1>{{ content.field_html_title }}</h1>
            {{ content.field_text }}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock paragraph %}
