{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 * Outputs a paragraph as a section within its parent article.
 *
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}
{% block paragraph %}
  <section{{ attributes.addClass(classes) }}>
    <div class="container">
      {% if paragraph.field_intro.value %}
        <div class="paragraph--intro">
          {{ content.field_intro }}
          {{ content.field_overview_link }}
        </div>
      {% endif %}
      {% block content %}
      <div class="content">
        {{ content|without('field_intro', 'field_overview_link') }}
      </div>
      {% endblock %}
    </div>
  </section>
{% endblock paragraph %}
