{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 * Outputs a paragraph as a section within its parent article.
 *
 * @see template_preprocess_paragraph()
 * @ingroup themeable
 */
#}
{% block paragraph %}
  <section{{ attributes.addClass(classes) }}>
    <div class="container">
      {% if node.field_intro.value %}
        <div class="paragraph--intro">
          {{ content.field_intro }}
          {{ content.field_overview_link }}
        </div>
      {% endif %}
      {% block content %}
        {{ content.field_media }}
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      {% endblock %}
    </div>
  </section>
{% endblock paragraph %}
