{#
/**
 * @file
 * Individual text column inside multi-column container.
 */
#}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }} data-aos="fade-up">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
{% endblock paragraph %}
