.slick-arrow {
  position: absolute;
  width: 2.4rem;
  height: 2.4rem; 
  @include iconize($long-arrow-right, 'after', $white);
  padding: 0;
  background-color: $primary;
  border-radius: $border-radius;
  top: 50%;
  translate: 0% -50%;
  z-index: 2;
  cursor: pointer;

  &:after {
    width: 1.2rem;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
  }
}

.slick-next {
  right: 2rem;
}

.slick-prev {
  left: 2rem;

  &:after {
    scale: -1;
  }
}