.view-collections.view-display-id-promoted {
  .views-rows {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: repeat(2, 360px);
    grid-column-gap: $small-gutter;
    grid-row-gap: $small-gutter;

    .views-row:first-child {
      grid-area: 1 / 1 / 3 / 2;
    }

    @include mq(l) {
      @include grid(1, '.views-row', $small-gutter);
    }
  } 
}

.view-collections.view-display-id-overview {
  .views-rows {
    @include grid(3, '.views-row', $small-gutter);

    @include mq(l) {
      @include grid(2, '.views-row', $small-gutter);
    }

    @include mq(m) {
      @include grid(1, '.views-row', $small-gutter);
    }
  }
}