.view-collections.view-display-id-promoted {
  .views-rows {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: repeat(2, 360px);
    grid-column-gap: $small-gutter;
    grid-row-gap: $small-gutter;

    .views-row:first-child {
      grid-area: 1 / 1 / 3 / 2;
    }
  } 
}