#sliding-popup {
  background-color: $primary !important;
  padding: 1.5rem !important;
  bottom: 1rem !important;
  left: 1rem;
  accent-color: $white;
  max-width: rem(500);

  .eu-cookie-compliance-buttons {
    margin-bottom: 0 !important;
  }

  .eu-cookie-compliance-content {
    max-width: 100% !important;
  }

  h3 {
    font-size: rem(20) !important;
  }

  .eu-cookie-withdraw-button {
    display: none;
  }

  .popup-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    #popup-text {
      width: 100%;
    }

    .find-more-button {
      font-size: rem(13);
    }

    .eu-cookie-compliance-buttons {
      width: 100%;
      max-width: 100%;
      float: none !important;
      margin-top: 0 !important;

      .agree-button {
        @extend .btn;
        @extend .btn--white;
        padding: .2rem .4rem;
        font-size: rem(15);

        &:hover {
          background-color: $white !important;
          color: $body !important;
          // border: 0 !important;
          box-shadow: 0 !important;
        }
      }
    }

    .eu-cookie-compliance-categories {
      width: 100%;
      order: 4;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      .eu-cookie-compliance-categories-buttons {

        button {
          @extend .btn;
          @extend .btn-light;
          padding: 0;
          margin: 0;
          border: 0;
          background-color: transparent;
          color: $white;
          appearance: none;
          background: none;
          text-shadow: none;
          font-size: rem(13);
          text-decoration: underline;
          font-weight: 600;
          margin: 0;
          padding: 0;
          border-radius: 0;
          border-top: none;
          box-shadow: none;

          &::-moz-focus-inner {
            border: 0;
            padding: 0;
          }
        }
      }
    }
  }

  @include mq(s) {
    max-width: rem(320);
  }
}