
//------------------------------------------------------------------------------
// NODE.SCSS
// Node general styling.
//------------------------------------------------------------------------------

$notification-bar-height: 2.5rem;

#block-mine-page-title {
  max-width: $container-m;
  margin: 0 auto;
  width: 100%;
  padding: 0 rem(40);

  @include mq(s){
    padding: 0 rem(20);
  }
}

.has-hero.has-quickmenu {
  .paragraph--type--hero .hero__content {
    bottom: 10rem;

    @include mq(l) {
      bottom: 5rem;
    }

    @include mq(m) {
      bottom: 2rem;
    }
  }
}

.centered-title {
  #block-mine-page-title {
    text-align: center;
  }
} 

.region-header {
  &.has-notification {
    padding-top: calc($notification-bar-height + 1rem);
    
    .field--name-field-notification {
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      background-color: $gold;
      color: $white;
      width: 100%;
      height: $notification-bar-height;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: rem(5) rem(40);
      font-size: rem(15);
    }

    @include mq(m) {
      padding-top: calc($notification-bar-height + 2.5rem);

      .field--name-field-notification {
        height: calc($notification-bar-height + 1.5rem);
        text-align: center;
        padding: rem(5) rem(20);
        font-size: rem(13);
      }
    }
  }
}

.bar-enabled {
  .region-off-canvas {
    .mm-branding {
      padding-top: calc($notification-bar-height + 1rem);

      @include mq(m) {
        padding-top: calc($notification-bar-height + 2.5rem);
      }
    }
  }

  &.no-hero {
   .layout-container {
    padding-top: rem(200);
   } 
  }
}