.btn {
  position: relative;
  display: inline-block;
  padding: .7rem 1.6rem;
  text-decoration: none;
  border: 1px solid $primary;
  background-color: $primary;
  color: $white;
  border-radius: $border-radius;
  text-align: unset;

  &:hover {
    background: $primary;
    color: $white;
  }
}

.btn.btn--arrow {
  translate: 0px 0;
  transition: all .4s $cubic-bezier;
  @include iconize($long-arrow-right, 'after', $white);
  padding-right: 1.6rem;

  &:after {
    content: '';
    position: absolute;
    right: 1rem;
    top: 50%;
    opacity: 0;
    translate: 0% -50%;
    transition: all .4s $cubic-bezier;
  }

  &:hover {
    padding-right: 3rem;
    translate: rem(10) 0;

    &:after {
      right: 1rem;
      opacity: 1;
    }
  }
}

.btn.btn--white {
  background: $white;
  color: $black;
  @include iconize($video, 'before');
}

.btn--video {
  background: $white;
  color: $black;

  position: relative;
  display: inline-block;
  padding: .7rem 1.6rem;
  text-decoration: none;
  border: 1px solid $primary;
  border-radius: $border-radius;
  text-align: unset;

  @include iconize($video, 'before');

  &:after {
    display: none;
  }

  &:before {
    left: 1rem;
  }
}