.btn {
  position: relative;
  display: inline-block;
  text-decoration: none;
  background-color: $primary;
  text-align: unset;

  &:hover {
    background: $primary;
    color: $white;
  }
}

.btn.bordered {
  background: transparent;
  color: $primary;
  border-color: $primary;

  &:hover, &:focus {
    background-color: $primary;
    color: $white;
  }

  &.btn--video {
    &:hover, &:focus {
      &:before {
        background-color: white;
      }
    }
  }
}

.btn.btn--arrow {
  translate: 0px 0;
  transition: all .4s $cubic-bezier;
  @include iconize($long-arrow-right, 'after', $white);
  padding-right: 1.6rem;

  &:after {
    content: '';
    position: absolute;
    right: 1rem;
    top: 50%;
    opacity: 0;
    translate: 0% -50%;
    transition: all .4s $cubic-bezier;
  }

  &:hover {
    padding-right: 3rem;
    translate: rem(10) 0;

    &:after {
      right: 1rem;
      opacity: 1;
    }
  }
}

.btn.btn--white {
  background: $white;
  color: $black !important;
}


.btn.btn--white.bordered {
  background: transparent;
  border-color: $white;
  color: $white;

  &:hover, &:focus {
    background-color: $white;
    color: $primary;
  }
}

.btn--video {
  background: $white;
  color: $black;

  position: relative;
  display: inline-flex !important;
  padding: .7rem 1.6rem;
  text-decoration: none;
  border: 1px solid $white;
  border-radius: $border-radius;
  text-align: unset;
  
  @include iconize($video, 'before');
  padding-left: 3.4rem;

  &:after {
    display: none;
  }

  &:before {
    left: 1.2rem;
  }
}

.btn + .btn {
  display: inline-block;
  margin-left: .4rem;

  @include mq(m) {
    display: inline-block;

    margin-left: 0;
  }
}

.field--type-text-long {
  .btn {
    margin-bottom: .4rem;
  }
}