.paragraph {
  position: relative;

  .paragraph--intro {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 3rem;

    .field--name-field-overview-link {
      position: relative;

      a {
        @include iconize($long-arrow-right, 'after');
        text-decoration: none;
      }
    }
  }
}

.paragraph:not(.paragraph--type--hero) {
  padding: $p_vertical_gutter 0;

  .paragraph {
    padding: 0;
  }
}

.pg-bg--primary {
  background-color: $primary;
  color: $white;

  a:not(.btn) {
    color: inherit;
  }

  @for $i from 1 through 6 {
    h#{$i} {
      color: inherit;
    }
  }
}

.pg-bg--secondary {
  background-color: $secondary;
  color: $primary;

  a:not(.btn) {
    color: inherit;
  }

  // Icon color overrides
  .field--name-field-icon {
    svg, g, path {
      fill: $primary;
    }
  }

  @for $i from 1 through 6 {
    h#{$i} {
      color: inherit;
    }
  }
}

.geysir-field-paragraph-wrapper > .paragraph:not(.paragraph--type--hero) {
  padding: $p_vertical_gutter 0;
}

.pg-bg--none + .pg-bg--none,
.pg-bg--primary + .pg-bg--primary,
.pg-bg--secondary + .pg-bg--secondary {
  padding-top: 0;
}

.no-hero .pg-bg--none:first-child {
  padding-top: 3rem;
}

.pg-valign--top {}

.pg-valign--middle {
  >.container {
    align-items: center;
  }
}

.pg-valign--bottom {
  > .container {
    align-items: flex-end;
  }
}