//------------------------------------------------------------------------------
// TYPOGRAPHY.SCSS
// Typography styling.
//------------------------------------------------------------------------------

h1 {
  margin-top: 0;
  color: $body;
  font-size: fluid(36px, 80px);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}
h2 {
  margin-top: 0;
  color: $body;
  line-height: 1.16;
  font-size: fluid(30px, 48px);
  font-weight: 700;
}
h3 {
  margin-top: 0;
  color: $body;
  line-height: 1.2;
  font-size: fluid(24px, 30px);
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  font-family: $heading;
  font-weight: 900;
  
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.nav__title,
.menu__title,
.block__title {
  @extend h2;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

p {
  margin: rem(24) 0;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: $primary;
}

.subtitle {
  position: relative;
  font-size: fluid(22px, 24px);
  display: block;
  font-family: $base-font-family;
  font-weight: 400;
}

.block-title {
  position: relative;
  display: inline-block;
  @extend h2;
}

.phone, .mail {
  display: inline-block;
  position: relative;
  font-weight: bold;
  margin-bottom: .5rem;
}

.phone {
  @include iconize($phone, 'before');
}

.mail {
  @include iconize($mail, 'before');
}