//------------------------------------------------------------------------------
// TYPOGRAPHY.SCSS
// Typography styling.
//------------------------------------------------------------------------------

h1 {
  margin-top: 0;
  color: $body;
  font-size: fluid(36px, 80px);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
  font-family: $heading;
}
h2 {
  margin-top: 0;
  color: $body;
  line-height: 1.16;
  font-size: fluid(30px, 48px);
  font-weight: 700;
  font-family: $heading;
}
h3 {
  margin-top: 0;
  color: $body;
  line-height: 1.2;
  font-size: fluid(22px, 24px);
  font-weight: 400;
  
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
  
  &:first-child {
    margin-top: 0;
  }
}

.nav__title,
.menu__title,
.block__title {
  @extend h2;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

p {
  margin: rem(24) 0;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: $primary;
}

.subtitle {
  position: relative;
  font-size: fluid(22px, 24px);
  display: block;
  font-family: $base-font-family;
  font-weight: 400;
}

.lined-subtitle {
  position: relative;
  padding-left: 4rem;
  font-size: $base-font-size;
  font-family: $base-font-family;
  display: block;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    translate: 0 -50%;
    background-color: $white;
    height: rem(1);
    width: 3rem;
  }
}

.block-title {
  position: relative;
  display: inline-block;
  @extend h2;
}

.phone, .mail {
  display: inline-block;
  position: relative;
  font-weight: bold;
  margin-bottom: .5rem;
}

.phone {
  @include iconize($phone, 'before');
}

.mail {
  @include iconize($mail, 'before');
}

.search-fail {
  font-size: rem(30);
  font-weight: bold;
}

.field {
  blockquote {
    font-size: fluid(36px, 38px);
    font-weight: 900;
    position: relative;
    text-align: center;
    padding-top: 5rem;

    &.animate {
      .word {
        position: relative;
      }
  
      .line-mask {
        position: absolute;
        top: 0;
        right: 0;
        background-color: white;
        opacity: 0.8;
        height: 100%;
        width: 100%;
        z-index: 2;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 0rem;
      left: 50%;
      translate: -50% 0;
      mask-image: url(../svg/icons/quote.svg);
      background-color: $primary;
      width: 5rem;
      aspect-ratio: 1/1;
      mask-repeat: no-repeat;
      mask-size: 100% auto;
      opacity: .3;
    }
  }
}

.pg-bg--primary {
  .field {
    blockquote {
      &.animate {
        .line-mask {
          background-color: $primary;
        }
      }
      &:before {
        background-color: $white;
      }   
    }
  }
}

.pg-bg--secondary {
  .field {
    blockquote {
      &.animate {
        .line-mask {
          background-color: $secondary;
        }
      }
    }
  }
}