.node--type-collection.node--view-mode-teaser {
  position: relative;
  width: 100%;
  height: 100%;

  .field--name-field-media {
    width: 100%;
    height: 100%;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }

    &:before {
      content: '';
      position: absolute;
      inset: 0;
      width: 100%;
      z-index: 2;
      height: 100%;
      background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(125,125,125,0) 51%, rgba(0,0,0,.5) 100%);
    }
  }

  .content {
    position: absolute;
    bottom: 0;
    z-index: 3;
    bottom: 1rem;
    right: 1rem;
    
    h3 {
      color: $white;
      font-weight: 400;
    }
  }
}