//------------------------------------------------------------------------------
// FOOTER.SCSS
// Region footer styling.
//------------------------------------------------------------------------------

.region-footer {
  position: relative;
  background-color: $primary;
  padding: $p_vertical_gutter 0;

  .slogan {
    position: absolute;
    left: 0;
    bottom: -5vw;
    font-size: 14vw;
    z-index: 1;
    font-weight: bolder;
    font-family: $heading;
    line-height: 1;
    color: $white;
  }
}