//------------------------------------------------------------------------------
// FOOTER.SCSS
// Region footer styling.
//------------------------------------------------------------------------------

.region-footer {
  position: relative;
  background-color: $gray-light;

  .layout--footer {
    .layout__region--first {
      background-color: $black;
      padding: 2rem 0;

      .branding {
        @extend .container;
        width: 100%;
      }
    }

    .layout__region--second {
      @extend .container;
      width: 100%;
      padding-top: 3rem;
      padding-bottom: 3rem;
      display: flex;
      justify-content: space-between;

      .block-title {
        display: block;
        font-weight: bold;
        position: relative;
        padding-left: 2rem;
        margin-bottom: rem(8);

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          translate: 0 -50%;
          width: 1rem;
          height: rem(1);
          background-color: $black;
        }
      }

      table {
        tr {
          td:first-child {
            width: rem(140);
          }
        }
      }

      .menu__list {
        @include reset-list();
      }

      .footer-boilerplate {
        max-width: rem(340);
      }
    }
  }

  // .slogan {
  //   position: absolute;
  //   left: 0;
  //   bottom: -5vw;
  //   font-size: 14vw;
  //   z-index: 1;
  //   font-weight: bolder;
  //   font-family: $heading;
  //   line-height: 1;
  //   color: $white;
  // }
}
