//------------------------------------------------------------------------------
// HEADER.SCSS
// Region header styling.
//------------------------------------------------------------------------------

.region-header {
  position: relative;
  z-index: 10;
  padding: 1.6rem 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .mm-toggle {
      display: none;
      @include iconize($menu, 'after', $white);
      width: 2.5rem;
      padding: 0;
      height: 2.5rem;

      &:after {
        position: relative;
        inset: 0;
        width: 100%;
        height: 100%;
      }

      @include mq(xl) {
        display: block;
      }
    }
  }
}

body.loading {
  .region-header .container {
    translate: 0% -100%;
    opacity: 0;
    transition: all 1s $cubic-bezier;
    transition-delay: 1s;
  }
}

body.loaded {
  .region-header .container {
    translate: 0% 0%;
    opacity: 1;
  }
}