//------------------------------------------------------------------------------
// CONFIG
// 
//------------------------------------------------------------------------------


// Fonts
@import 'config/fonts';

// Overrides
@import 'config/drupal_override';

// Icons
@import 'config/icons';

// Colors
@import 'config/colors';

// Breakpoints
@import 'config/breakpoints';

// Containers
@import 'config/grid-containers';

// Geysir
@import 'config/geysir';


// Variables
$border-radius: rem(6);
$cubic-bezier: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$input-border-color: $primary;
$input-border-radius: $border-radius;
$input-padding-y: 8px;