@mixin iconize($icon, $position: 'after', $color: black) {

  @if $position == "before" {
    padding-left: 2rem;
  } @else if $position == "after" {
    padding-right: 2rem;
  }

  &::#{$position} {
    content: '';

    position: absolute;

    display: inline-block;
    width: 1.2em;
    height: 100%;
    
    right: 0;
    top: 0;

    mask-image: url('data:image/svg+xml;base64,#{$icon}');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background-color: $color;
  }
}
