.paragraph--type--brands {
  @extend .centered;

  .field--name-field-brands {
    padding: 0 2rem;

    .field--name-field-media {
      img {
        margin: 0 auto;
      }
    }
  }

  .slick-slide {
    margin: 0 2rem;
  }

  .slick-list {
    margin: 0 -2rem;
  }

  .slick-track {
    display: flex;
    align-items: center;
  }

  .slick-prev {
    left: -2rem;
  }

  .slick-next {
    right: -2rem;
  }

  .field__item {
    img {
      max-height: rem(50);
      width: auto;
    }
  }
}
