.paragraph--type--form {
  .paragraph--intro {
    max-width: $container-s;
    margin: 0 auto;

    .field--name-field-intro {
      text-align: center;
      width: 100%;
    }
  }

  .webform-submission-form {
    max-width: $container-s;
    margin: 0 auto;
  }
}