// ==========================================================================
// Paragraph bundle: IMAGE GALLERY
// ==========================================================================
.paragraph--type--image-slider {
  &.paragraph--view-mode--default {
    .container {
      position: relative;
    }

    .swiper-slide.swiper-slide-active {
      scale: 1.2;
    }

    .swiper-slide {
      scale: .8;
      transition: scale 1s $cubic-bezier;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}