$black: #000000;
$white: #ffffff;
$red: #ff0000;

$gray-light: #e5e5e5;
$gray-dark: #5d5d5d;

$primary: $black;
$secondary: $gray-light;

$body: $black;

$pg-listitem: $body;
$pg-listitem-bg: $white;
$pg-listitem-border: $gray-light;
$pg-listitem--hov: $body;
$pg-listitem-bg--hov: $gray-light;
$pg-listitem-border--hov: $gray-light;