//------------------------------------------------------------------------------
// GRID CONTAINERS
// This file contains all of the container declarations.
//------------------------------------------------------------------------------

$container-s: 780px;
$container-m: 1600px;
$container-l: 1800px;
$container-max: 1920px;

$p_vertical_gutter: 120px;
$p_vertical_gutter_mobile: 80px;
