//------------------------------------------------------------------------------
// GRID CONTAINERS
// This file contains all of the container declarations.
//------------------------------------------------------------------------------

$container-s: 740px;
$container-m: 1200px;
$container-l: 1400px;
$container-max: 1920px;

$p_vertical_gutter: 45px;
